<!--模板中声明引入静态文件的标签，只有使用它,static标签才能使用-->
{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://blog.csdn.net/chengqiuming"><img src="{% static '/images/logo.png' %}" width="100px"></a>
	    </div>
	    <div>
            <ul class="nav navbar-nav" role="navigation">
                <!--blog是urlpatterns中定义的namespace，blog_title是视图函数-->
                <li><a href="{% url 'blog:blog_title' %}">记录我的点点滴滴</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                {% if user.is_authenticated %}
                <li><a href="#">{{ user.username }}</a></li>
                <li><a href="{% url 'account:user_logout' %}">退出</a></li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">登录</a></li>
                {% endif %}
            </ul>
	    </div>
    </nav>
</div>
